@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Dancing+Script:wght@700&family=Domine:wght@400;500;600;700&family=Lobster&family=Oswald:wght@200;300;400;500;600;700&family=Quintessential&family=Sansita+Swashed:wght@300;400;500;600;700;800&family=Satisfy&display=swap');

*{
    font-family: 'Sansita Swashed', cursive;

}
.container-fluid ul li a{
color:white;
font-size: 20px;
}
.nav-item  i{
    background-color: aquamarine;
    color:white;
    font-size: 20px;
    }
.container-fluid ul li a:hover{
    color:rgb(199, 194, 194);
    font-size: 20px;
    }
.video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    height: 90vh;
    margin-bottom: 30px;
}

.textfirst  {

    position:absolute;
    bottom: 20rem;
    z-index: 50;
    font-size: 30px;
    margin-left:23% ;  
   
    color: rgb(255, 255, 255);
}
h2{
    font-family: 800;
    text-align: center;
    align-items: center;
    font-size: 60px;
    padding-top: 20%;
       
}
p{
font-size: 25px;
align-items: center;
font-family: 400;
text-align: center;
   margin-left:120px ;
}

.card-body a {
    color:#141414;
    font-weight: 500;
}
.card-body a:hover {
    color:#746767;
    font-weight: 600;
}


/* section tow */
.prag{
    text-align: left;
    font-family:Arial, Helvetica, sans-serif

}


.foot{
    text-align: center;
   
}
.footer h3{
    margin: 8;
    text-align: center;
    align-items: center;
}
 .foot  i  {
     cursor: pointer;
   align-items: center;
   margin-left: 2%;
   margin-bottom: 2%;
} 
.foot  i:hover  {
  color: #7a7979;
 } 





@media  (max-width:768px){
   
    .textfirst  {
        margin-top: 5px;
       margin-left: 20%;
        font-size: 35px;
        font-family: 800;
       margin-bottom: 10px;
        color: white;
    }
    h2{
        margin-top:5px;
     
        font-size: 30px;
         padding-top: 0;
        
    }
    p{
    font-size: 20px;
    font-weight: 400;
    margin-left: 25px;
    text-align: left;
    }
     
}
@media(min-width:798px) and (max-width:"980px"){
    .textfirst  {
        margin-bottom: 90px;
    }
    h2{
        margin-top:5px;
     
        font-size: 30px;
         padding-top: 0;
          margin-left:5px ;
    }
    .bttnn{
       margin-bottom: 40px;
       }
}
